[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"
opencv-python = "*"
jpype1 = ">=1.2.1<2.*"
pytesseract = "*"

[dev-packages]
ipython = "*"
stubgenj = "*"

[requires]
python_version = "3.10"